<footer class="c-sitefooter">
    <div class="l-container">

      <div class="c-sitefooter__contact">

        <div class="c-sitefooter__links">
          {% if contact.companyEmail or (contact.companyPhoneDisplay and contact.companyPhoneMachines) %}
            <ul class="c-contactlist">
              {% if contact.companyEmail %}
                <li class="c-contactlist__item"><a class="c-contactlist__link" href="mailto:{{ contact.companyEmail }}">{{ contact.companyEmail }}</a></li>
              {% endif %}
              {% if contact.companyPhoneDisplay and contact.companyPhoneMachines %}
                <li class="c-contactlist__item"><a class="c-contactlist__link" href="tel:{{ contact.companyPhoneMachines }}">{{ contact.companyPhoneDisplay }}</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
        <div class="c-sitefooter__social">
          <nav aria-label="social media">
            {% if socialMedia.instagramUrl or socialMedia.facebookUrl or socialMedia.twitterUrl %}
              <ul class="c-socialmedia">
                {% if socialMedia.instagramUrl %}
                  <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialMedia.instagramUrl }}" aria-label="Instragram">{% include "_svg/instagram.svg" %}</a></li>
                {% endif %}
                {% if socialMedia.facebookUrl %}
                  <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialMedia.facebookUrl }}" aria-label="Facebook">{% include "_svg/facebook.svg" %}</a></li>
                {% endif %}
                {% if socialMedia.twitterUrl %}
                  <li class="c-socialmedia__item"><a class="c-socialmedia__link" href="{{ socialMedia.twitterUrl }}" aria-label="Twitter">{% include "_svg/twitter.svg" %}</a></li>
                {% endif %}
              </ul>
            {% endif %}
          </nav>
        </div>
      </div>

      <div class="c-sitefooter__main">

        <div class="c-sitefooter__address">
          <address class="c-footeraddress">
            {{ contact.companyName }}<br>
            {{ contact.addressStreet }}, {{ contact.addressNumber }}<br>
            {{ contact.addressPostcode }} {{ contact.addressCity }}
          </address>
        </div>

        <div class="c-sitefooter__mainnav">
          {% include "_includes/footernav.twig" %}
        </div>

        <div class="c-sitefooter__legalnav">
          {% include "_includes/legalnav.twig" %}
        </div>

      </div>

      <div class="c-sitefooter__end">
        <p class="c-copyright">&copy; 2022 - Zodiak Agency</p>
      </div>

    </div>
  </footer>