
<article class="c-projectcard">
  <a class="c-projectcard__link" href="{{ project.url }}">
    <div class="c-projectcard__media">
      {# projectImage est un champs relationnel (vers des assets)
        - Craft va TOUJOURS renvoyer un tableau pour tous les champs relationnels
        - Il faut aller chercher le premier élément de ce tableau avec .one() #}
      {% set img = project.projectImage.one() %}
      {% if img %}
        <img src="{{ img.getUrl({ width: 450, height: 600 }) }}"
              srcset="{{ img.getUrl({ width: 450, height: 600 }) }} 450w,
                      {{ img.getUrl({ width: 600, height: 800 }) }} 600w" 
              sizes="(min-width: 1500px) 345px,
                    (min-width: 1024px) 25vw
                    (min-width: 500px) 50vw,
                    100vw"
              class="o-fluidimg"
              alt=""
              width="600"
              height="800">
      {% endif %}
    
    </div>
    <div class="c-projectcard__body">
      <h3 class="c-projectcard__title">{{ project.title }}</h3>
      <p class="c-projectcard__tagline">{{ project.projectTagline }}</p>
    </div>
  </a>
</article>