{# =======================
variables
======================= #}

{% set mxBlock = mxBlock ?? null %}

{% set img = mxBlock.mxImageImg.one() ?? null %}
{% set caption = mxBlock.mxImageCaption ?? null %}

{# =======================
template
======================= #}
<div class="c-casemodule">
  <div class="l-container">
    <figure class="c-figure">
      {% if img %}
        <picture>
          <source media="(min-width: 750px)" 
                  srcset="{{ img.getUrl({ width: 1024, height: 576 }) }} 1024w,
                          {{ img.getUrl({ width: 1500, height: 844 }) }} 1500w"
                  width="1500" 
                  height="844" 
                  sizes="100vw">
          <img src="{{ img.getUrl({ width: 800, height: 800 }) }}" 
               loading="lazy"
               decoding="async" 
               class="o-fluidimg  o-fluidimg--full" 
               alt="{{ caption }}" 
               width="800" 
               height="800">
        </picture>
      {% endif %}
      <figcaption class="c-figure__caption">{{ caption }}</figcaption>
    </figure>
  </div>
</div>